
<!DOCTYPE html>
<html>
<head>
  <title>Vehicles</title>

</head>
<div id="wrapper">

  <% if flash[:notice] %>
    <p class="flash notice">
      <%= flash[:notice] %>
    </p>
  <% end %>

  <% if flash[:alert] %>
  <p class="flash alert">
    <%= flash[:alert] %>
  </p>
  <% end %>

  <div id="container">
<body>

<%= render "layouts/header" %>

<%= render "layouts/sidebar" %>

<%= yield %>

<%= render "layouts/footer" %>

</body>
</html>
